<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.anonym.parsedome.mapper.shenfen.zczx_ys_shandongMapper">
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO
        zczx_ys_shandong
        VALUES
        <foreach collection="arrayList" item="array" index="index" separator=",">
            (#{array})
        </foreach>
    </insert>
</mapper>